@font-face {
	font-family: "Organo";
	src: url("Organo.ttf")
}

body {
	background-image: url("back.png");
	background-repeat: repeat;
	margin: auto;
}

header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px	;
	height: 45px;
	background: -webkit-linear-gradient(white, #E6E6E6);
    background: -o-linear-gradient(white, #E6E6E6);
    background: -moz-linear-gradient(white, #E6E6E6);
    background: linear-gradient(white, #E6E6E6);
}

.header_img {
	margin-top: 10px;
	position: relative;
	left: 10%;
}

.header_title {
	font-size: 20px;
	font-family: Organo;
	top: -13%;
	color: #19A9C3;
	margin: auto;
	position: relative;
	left: 82%;
}

nav h1 {
	margin: 100px;
	text-shadow:#000 0px 1px 5px;
	color: white;
	text-align: center;
	font: 70px bold;
	font-weight: 800;
	font-family: Organo;
}

.login {
	width: 240px;
	top: 50px;
 	margin: 10px auto;
 	position: relative;	
}

.register {
	width: 240px;
	top: 50px;
 	margin: 10px auto;
 	position: relative;
}

.form {
	width: 100%;
	color: #6E6E6E;
}

 #formreg #email {
 	border:none;
	outline:none;
	border-bottom:1px solid rgba(0,0,0,1);
	border-right:1px solid rgba(0,0,0,1);
	border-left:1px solid rgba(0,0,0,1);
	width: 100%;
	padding:15px 0px 15px 8px;
	background:rgba(250,250,250,1);
	border-color: #B3B3A7;
	color:#1A1A1A;
	border-radius:0px;
	margin-bottom:0px;
	font-size: 16px;
 }

#username {
	font-family: Arial;
	border:none;
	outline:none;
	border:1px solid rgba(0,0,0,1);
	width: 100%;
	padding:15px 0px 15px 8px;
	background:rgba(250,250,250,1);
	color:#1A1A1A;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-color: #B3B3A7;
	margin-bottom:0px;
	font-size: 16px;
}

#password {
	border:none;
	outline:none;
	border:1px solid rgba(0,0,0,1);
	width: 100%;
	padding:15px 0px 15px 8px;
	background:rgba(250,250,250,1);
	color:#1A1A1A;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-top-style: none;
	border-color: #B3B3A7;
	margin-bottom:0px;
	font-size: 16px;
}

#submit {
	width: 50%;
	margin: 10px 100px 150px 60px;
	padding: 5px 5px 5px 8px;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
 	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
 	opacity: 0.85;
 	background-color: #19A9C3;
}

#submit:hover{
	opacity: 1;
	cursor: pointer;
}

.button {
	-moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
	position: relative;
	left: 90%;
	top: -10%;
	font: 20px bold;
	border-top-radius: 0.3em;
}

footer {
	position: relative;
	text-align: center;
	top: 30%;
	margin: auto;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}