@font-face {
	font-family: "Organo";
	src: url("Organo.ttf")
}

body {
	background-image: url("main.jpg");
	background-repeat: repeat;
	margin: auto;
}

header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 45px;
	background: -webkit-linear-gradient(white, #E6E6E6);
    background: -o-linear-gradient(white, #E6E6E6);
    background: -moz-linear-gradient(white, #E6E6E6);
    background: linear-gradient(white, #E6E6E6);
}

.header_img {
	margin-top: 10px;
	position: relative;
	left: 10%;
}

.header_title {
	font-size: 20px;
	font-family: Organo;
	top: -13%;
	color: #19A9C3;
	margin: auto;
	position: relative;
	left: 82%;
}
li {
    display: inline;
    border: 0px solid #000;
 	opacity: 0.7;
 	background-color: #19A9C3;
 	font-size: 20px;
 	color: white;
 	text-shadow: #000 0px 1px 5px;
 	padding: 10px 20px 10px 20px;
	border-left: 0px;
	float: right;
}
a{
	text-decoration: none;
}
.list{
	list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100%;
	position: fixed;
	top: 45px;
	right: 0px;
	left: 0px;
	height: 45px;
	color: white;
}
.manage{
	border-right:1px solid rgba(255,255,255,1);
	border-left:1px solid rgba(255,255,255,1);
}
.create{
}
.search{
	opacity: 1;
}
.search1{
	font-size: 30px;
	width: 100%;
	height: 100%;
}
.manage:hover{
	opacity: 1;
	cursor: pointer;	
}
.create:hover{
	opacity: 1;
	cursor: pointer;	
}

footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}