@font-face {
	font-family: "Organo";
	src: url("Organo.ttf")
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url("main.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	z-index: 1;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 45px;
	background: -webkit-linear-gradient(white, #E6E6E6);
    background: -o-linear-gradient(white, #E6E6E6);
    background: -moz-linear-gradient(white, #E6E6E6);
    background: linear-gradient(white, #E6E6E6);
}

.wrapper {
	margin-bottom: 200px;
}

.header_img {
	top: 10px;
	position: relative;
	left: 10%;
}

.header_title {
	font-size: 20px;
	font-family: Organo;
	top: 5px;
	color: #19A9C3;
	margin: auto;
	position: relative;
	left: 82%;
}

p#user_options {
	position: relative;
	color: white;
	font-size: 25px;
	right: -85%;
	top: 29px;
}

.manage, .view, .delete {
    display: inline;
    border: 0px solid #000;
 	opacity: 0.7;
 	background-color: #19A9C3;
 	font-size: 20px;
 	color: white;
 	text-shadow: #000 0px 1px 5px;
 	padding: 10px 20px 10px 20px;
	border-left: 0px;
	
}

.list2 {
	margin-top: 200px;
	margin-left: 495px;
	width: 100%;
	right: 30%;
	bottom: 30%;
}

a{
	text-decoration: none;
}

.list{
	list-style-type: none;
    margin: 0;
    padding: 0;
	width: 50%;
	float: right;
	position: relative;
	top: -38px;
	right: 0px;
	left: 0px;
	height: 45px;
	color: white;
}
.manage{
	float: right;
	border-right:1px solid rgba(255,255,255,1);
	border-left:1px solid rgba(255,255,255,1);
}

.manage:hover, .view:hover, .delete:hover{
	opacity: 1;
	cursor: pointer;
}

.logout {
	margin-top: 10px;
	margin-right:10px;
	position: relative;
	float:right;
}
.logout:hover{
	opacity: 1;
	cursor: pointer;
}

footer {
	width:100%;
	height:50px;
	position: relative;
	text-align: center;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}